@media (min-width: 400px) and (max-width: 991px) {
  .header h1 {
    font-size: 55px;
  }
  .header h1 span {
    color: #0d6dc7;
    font-size: 90px;
  }
  .header
  {
    opacity: 0;
    animation: fade 2s linear forwards;
  }
  @keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
}
@media (min-width: 991px) and (max-width:1100px) {
  .header h1 {
    font-size: 50px;
  }
  .header h1 span {
    color: #0d6dc7;
    font-size: 115px;
  }
  .header {
    position: relative;
    left: 28px;
    opacity: 0;
    animation: fade 2s linear forwards;
  }
  @keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }
}
@media (min-width:1100px) and (max-width:1800px){
    .header h1 {
        font-size: 75px;
      }
      .header h1 span {
        color: #0d6dc7;
        font-size: 115px;
      }
      .header {
        position: relative;
        left: 80px;
        opacity: 0;
        animation: fade 2s linear forwards;
      }
      @keyframes fade {
        0%{opacity: 0;}
        100%{opacity: 1;}
      }
}
@media (min-width:1800px) and (max-width:2000px) {
   .header h1 {
        font-size: 75px;
      }
      .header h1 span {
        color: #0d6dc7;
        font-size: 115px;
      }
      .header {
        position: relative;
        left: 230px;
        opacity: 0;
        animation: fade 2s linear forwards;
      }
      @keyframes fade {
        0%{opacity: 0;}
        100%{opacity: 1;}
      }
}