/* @media (min-width: 991px) and (max-width:1100px){

    .navbar ul li{
        list-style: none;
        padding: 20px;
        font-size: 20px;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    .navbar{
        display: flex;
        position: relative;
        right: 45px;
    }
    
}
@media (min-width:1100px){
    .navbar ul li{
        list-style: none;
        padding: 20px;
        font-size: 20px;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    .navbar{
        display: flex;
        position: relative;
        right: 60px;
    }
    .navbar ul li:hover{
        background-color: gray;
        border-radius:10px;
        transition: all 0.2s linear;
    }
    .navbar ul li:hover a{
        color: white;
        transition: all 0.2s linear;
    }
} */

.nav-item{
    font-weight: bold;
}